@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins:wght@200&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ///////////////////////////////////////////////////////////////////////////////////responsive */
/* @media screen and (max-width){
    header .menu_side .brand li{
        position:fixed;
        width: 10px;
    }
}

@media screen and (max-width){
    header .menu_side .brand li h1{
        position:relative;
        font-size: 5pxpx;
    }
} */
/* @media screen and (max-width:968px) {
    header .menu_side{
        border-top: 0.2rem solid var(--color-gray-lighten);
        position: fixed;
        right: -100%;
        bottom: 0;
        width: 50%;
        min-width:max-content;
        min-height: calc(100vh - var(--height-header));
        display: flex;
        justify-content:left;
        margin-right: 3rem;

    }
    
} */


/* @media screen and (max-width: 768px) {
    .song_side .content .buttons {
      width: 28rem;
    }
} */

/* @media screen and (min-width: 968px) {
    .song_side nav {
      margin-left: auto;
      margin-right: 3rem;
    } */


@media (max-width:500px) {
    .menu_side .melojam {
        width: 100%;
        display: flex;
        height: auto;
        position: fixed;
        float: none;
    }
}

/*..........................................................................................*/
header {
    width: 100%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu_side,
.song_side {
    position: relative;
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 0px 2px #090f1f;
}

header .song_side {
    width: 75%;
    background-color: rgb(14, 15, 24);

}

header .player {
    width: 100%;
    height: 10%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 3px 8px rgb(0, 0, 0);
}

header .menu_side h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;

}

header .menu_side h6 {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    cursor: pointer;
    color: #bcb4b4;
    /* ...............................................................ny Mannat*/
    transition: .3s linear;
}

header .menu_side h6:hover {
    color: rgb(218, 125, 255);

}

.brand img {
    padding: 0 5px;
    width: 85px;
    align-items: center;
    font-size: x-large;
    font-style: oblique;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
}

header .menu_side .melojam {
    margin: 40px 0px 0px 20px;
}

header .menu_side .melojam1 {
    margin: 40px 0px 0px 20px;
}

header .menu_side .melojam h4 {
    font-size: 18px;
    font-weight: 400px;
    padding-bottom: 10px;
    color: rgb(123, 123, 123);
    cursor: pointer;
    transition: .3s linear;
}

header .menu_side .melojam1 h4 {
    font-size: 18px;
    font-weight: 400px;
    padding-bottom: 10px;
    color: rgb(123, 123, 123);
    cursor: pointer;
    transition: .3s linear;
}

header .menu_side .melojam h4:hover {
    color: white;
}

header .menu_side .melojam1 h4:hover {
    color: white;
}

header .menu_side .melojam i {
    padding-right: 10px;
    transition: .3s linear;
}

header .menu_side .melojam1 i {
    padding-right: 10px;
    transition: .3s linear;
}

header .menu_side .melojam i:hover {
    color: white;
}

header .menu_side .melojam1 i:hover {
    color: white;
}

header .menu_side .menu {
    width: 100%;
    height: 250px;
    border: 1px solid #1c2231;
    margin-top: 20px;
}

header .menu_side .menu li {
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s linear;
}

header .menu_side .menu li:hover {
    background: rgba(165, 164, 164, 0.1);

}

header .menu_side .menu li span {
    font-size: medium;
    font-weight: 700;
    color: #494949;
    transition: .3s linear;
}

header .menu_side .menu li img {
    width: 40px;
    height: 40px;
    margin-left: 10px;

}

header .menu_side .menu li h5 {
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
    color: rgb(123, 123, 123);
    transition: .3s linear;
    cursor: pointer;
}

header .menu_side .menu li .fa-regular {
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 14px;
    align-items: center;

}

header .menu_side .menu li h5 .subtitle {
    font-size: 12px;
    margin-left: 8px;
    color: rgb(123, 123, 123);
    cursor: pointer;
}

header .menu_side .menu li h5:hover {
    color: rgb(255, 255, 187);
}

header .player {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

header .player .wave {
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 15px;
}

header .player .wave .wave1 {
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    background: #eaff80;
    animation: unset;
}

header .player .wave .wave1 :nth-child(2) {
    height: 13px;
    /* animation-delay: .4s; */

}

header .player .wave .wave1 :nth-child(3) {
    height: 8px;
    /* animation-delay: .8s; */
}

/* javacsript class wave */
header .player .active2 .wave1 {
    animation: wave .5s linear infinite;
}

header .player .active2 .wave1 :nth-child(2) {
    animation-delay: .4s;

}

header .player .active2 .wave1 :nth-child(3) {
    animation-delay: .8s;
}


@keyframes wave {
    0% {
        height: 10px;
    }

    50% {
        height: 15px;
    }

    100% {
        height: 10px;
    }
}

header .player img {
    height: 50px;
    width: 50px;
}

header .player h5 {
    width: 130px;
    font-size: 15px;
    margin-left: 15px;
    color: white;
    line-height: 15px;
}

header .player h5 .subtitle {
    font-size: 11px;
    /* margin-left: 10px; */
    margin-top: 5px;
    color: rgb(151, 145, 145);
}

header .player .icon {
    font-size: 25px;
    margin: 0px 20px 0px 40px;
    align-items: center;
}

header .player .icon .fa-solid {
    cursor: pointer;
    outline: none;
    padding-right: 20px;
}

header .player .icon .fa-solid :nth-child(2) {
    border: 1px solid rgba(165, 164, 164, .1);
    border-radius: 50%;
    padding: 1px 3px 0px 6px;
    margin: 0px 5px;
    transition: .3s linear;
}

header .player span {
    color: white;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}

header .player #currentStart {
    margin: 0px 0px 0px 20px;

}

header .player .bar {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin: 0px 15px 0px 10px;
}

header .player .bar .bar2 {
    position: absolute;
    background: rgb(218, 125, 255);
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

header .player .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgb(218, 125, 255);
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}

header .player .bar .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(218, 125, 255);
    border-radius: 50%;
    left: -6px;
    top: -6px;
    transition: 1s linear;
    box-shadow: inset 0px 0px 3px rgb(218, 125, 255);
}

header .player .bar input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}

header .player .vol {
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 40px;
    padding-left: 100px;
    background: rgb(105, 105, 170, .1);


}

header .player .vol .fa-solid {
    position: absolute;
    color: white;
    font-size: 20px;
    top: -17px;
    left: -30px;
    margin-top: 8px;
    align-items: center;
    padding-right: 40px;
    cursor: pointer;
}

header .player .vol input {
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}

header .player .vol .vol_bar {
    position: absolute;
    background: rgb(218, 125, 255);
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

header .player .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgb(218, 125, 255);
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
    cursor: pointer;
}

header .player .vol .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(218, 125, 255);
    border-radius: 50%;
    left: -6px;
    top: -6px;
    transition: 1s linear;
    box-shadow: inset 0px 0px 3px rgb(218, 125, 255);
}


header .song_side {
    z-index: 2;
}

header .song_side::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 250px;
    background: url(im/imgdk.png);
    /* background: ;...................................................dekhya kite */
    z-index: -1;
}

/* header .song_side .content .background-clip{
    position: absolute;
    right: 100px;
    z-index: -1;
    left: 5%;
    
}
media (min-aspect-ratio:16/9){
    .background-clip{
        width:100%;
        height:auto;
    }
}
@media (min-aspect-ratio:16/9){
    .background-clip{
        width:100%;
        height:auto;
    }
} */

header .song_side nav {
    width: 100%;
    height: 10%;
    margin: auto;
    /* border: 1px solid #fff ; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

header .song_side nav ul {
    display: flex;
}

header .song_side nav ul li {
    position: relative;
    list-style-type: none;
    font-size: 15px;
    color: #bcb4b4;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side nav ul li a {
    text-decoration: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
header .song_side nav ul li a {
    color: #bcb4b4;
}

header .song_side nav ul li a:hover {
    color: white;
}

header .song_side nav ul li:hover {
    color: white;
}

header .song_side nav ul li:nth-child(1) {
    color: white;
}

header .song_side nav .search {
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    color: grey;
}

header .song_side nav .search::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(94, 92, 92, 0.1);
    backdrop-filter: blur(5px);
    z-index: -1;
}

header .song_side nav .search .fa-solid {
    font-size: 20px;
    padding: 3px 0px 0px 10px;
}

header .song_side nav .search input {
    background: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: white;
    font-size: 12px;
}

header .song_side .content {
    width: 90%;
    height: 30%;
    margin: auto;
    /* border: 1px solid #fff; */
    padding-top: 20px;
}

header .song_side .content h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .song_side .content p {
    font-size: 15px;
    font-weight: 500;
    color: grey;
    margin: 5px;
}

header .song_side .content .buttons {
    margin-top: 15px;
}

header .song_side .content .buttons button {
    width: 130px;
    height: 30px;
    border: 2px solid rgb(167, 52, 255);
    outline: none;
    border-radius: 20px;
    background: rgb(218, 125, 255);
    /*125,125,255*/
    color: white;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .content .buttons button:hover {
    border: 2px solid rgb(218, 125, 255);
    background: none;
    color: rgb(218, 125, 255);
}

header .song_side .content .buttons button:nth-child(2) {
    border: 2px solid rgb(218, 125, 255);
    background: none;
    color: rgb(218, 125, 255);
}

header .song_side .content .buttons button:nth-child(2):hover {
    border: 2px solid rgb(218, 125, 255);
    background: none;
    color: white;
}

header .song_side .popular_songs {
    width: 90%;
    height: 40%;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 5px;
    color: white;
}

header .song_side .popular_songs .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header .song_side .popular_songs .h4 .fa-solid {
    /* color: #706f6f; */
    cursor: pointer;
    transition: .3s linear;
    padding-left: 10px;
    padding-right: 10px;
}

header .song_side .popular_songs .h4 .fa-solid:hover {
    color: white;
}

header .song_side .popular_songs .top_song {
    width: 100%;
    height: 270px;
    margin-top: 15px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

header .song_side .popular_songs .top_song ::-webkit-scrollbar {
    display: none;
}

header .song_side .popular_songs .top_song li {
    position: relative;
    min-width: 100px;
    height: 140px;
    margin-left: 30px;
    list-style: none;
    margin-right: 10px;
    transition: .3s linear;

}

/* 
header .song_side .popular_songs .top_song li:hover{
    background: #090f1f;
    width: 10px;
    height: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
} */

header .song_side .popular_songs .top_song li .img_play img {
    width: 120px;
    height: 160px;
    /* ...............................................................front images size  */
    /* padding-left: 20px; */
    cursor: pointer;
}

header .song_side .popular_songs .top_song li .img_play .fa-regular {
    position: absolute;
    /*          ..............................................play option postion*/
    font-size: 50px;
    cursor: pointer;
    transition: .5s linear;
    align-items: center;
    justify-content: center;
    opacity: 0;
    bottom: 45px;
    right: 20px;
}

header .song_side .popular_songs .top_song li:hover .img_play .fa-regular {
    opacity: 1;
}

header .song_side .popular_songs .top_song li h5 {
    padding: 2px 0px 0px 0px;
    line-height: 15px;
    font-size: 12px;
}

header .song_side .popular_songs .top_song li h5 .subtitle {
    font-size: 10px;
    color: #7d7b7b;
}

header .song_side .popular_artist {
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 8px;
}

header .song_side .popular_artist .h4 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header .song_side .popular_artist .h4 .fa-solid {
    cursor: pointer;
    transition: .3s linear;
    padding-left: 10px;
    padding-right: 10px;
}

header .song_side .popular_artist .h4 .fa-solid:hover {
    color: white;
}

header .song_side .popular_artist .item {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header .song_side .popular_artist .item::-webkit-scrollbar {
    display: none;

}

header .song_side .popular_artist .item li {
    list-style-type: none;
    position: relative;
    min-width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #7d7b7b;
    margin-right: 20px;
    cursor: pointer;
}

header .song_side .popular_artist .item li img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}

@media (max-width : 500px) {

    header .menu_side{
        width: 20%;
    }
    header .menu_side .melojam h4.active{
        font-size: 10px;
        display: block;

    }
    header .menu_side .melojam1 h4.active{
        font-size: 10px;
        display:block;
    }
    header .menu_side .brand img{
        height: 35px;
        width: 45px;
    }
    header .menu_side .brand {
        font-display:none ;
    }
    header .menu_side ul h6{
        display: none;
    }

    
}

